Introduction [![Build Status](https://snap-ci.com/mp911de/logstash-gelf/branch/master/build_image)](https://snap-ci.com/mp911de/logstash-gelf/branch/master)
=============

${project.name} (${project.artifactId})

Provides logging to logstash using the Graylog Extended Logging Format (GELF) 1.0 and 1.1. Following log frameworks/integrations are supported:

* [Java Util Logging](examples/jul.html)
* [log4j 1.2.x](examples/log4j-1.2.x.html)
* [log4j 2.x](examples/log4j-2.x.html)
* [JBoss 7/WildFly 8/WildFly 9](examples/jbossas7.html)
* [Logback](examples/logback.html)

How to get
-------------

Maven:

    <dependency>
        <groupId>biz.paluch.logging</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${logstash-gelf-release-version}</version>
    </dependency>

or http://search.maven.org/remotecontent?filepath=biz/paluch/logging/${project.artifactId}/${logstash-gelf-release-version}/${project.artifactId}-${logstash-gelf-release-version}.jar

JBoss Module Download:

    <dependency>
        <groupId>biz.paluch.logging</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${logstash-gelf-release-version}</version>
        <classifier>logging-module</classifier>
    </dependency>

or http://search.maven.org/remotecontent?filepath=biz/paluch/logging/${project.artifactId}/${logstash-gelf-release-version}/${project.artifactId}-${logstash-gelf-release-version}-logging-module.zip


