<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="biz.paluch.logging">

    <resources>
        <resource-root path="${project.artifactId}-${project.version}.jar" />
        <resource-root path="jedis-${jedis.version}.jar" />
        <resource-root path="commons-pool2-${commons-pool2.version}.jar" />
    </resources>

    <dependencies>
        <module name="org.apache.log4j" optional="true"/>
        <module name="org.apache.logging.log4j" optional="true"/>
        <module name="org.slf4j" />
        <module name="javax.api" />
        <module name="org.jboss.logmanager" />
    </dependencies>
</module>
